
<html>

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
   
    <h1>New Bug</h1>

    <%- include('bugForm') %>
         

        <a href="/bugs ">Back</a>

</html>