<html>

<head>
    <style>
        label {
            display: block;
        }

        h1 {
            margin-left: 99px;
            font-size: 90px;
        }

        .title {
            font-size: 99px;
            margin-left: 39%;
            color: black;
            background-color: grey;
            text-decoration: none;
        }
    </style>
</head>

<body>

    <h1>Time To Take A Hero Quiz</h1>
    
    <!-- <img src='head.jpg' width="500px"> -->

    <!-- <img src="head.png" alt="head" width="500" height="333"> -->

    <a class="title" href="/bugs ">Enter</a>

    

</html>