<html>

    <head>
        <style>
            label {
                display: block;
            }
        </style>
    </head>
    
    <body>
        <h1>Recorded Delete</h1>
    
   

      
        <a href="/users ">Back</a>
        
    
    </html>